dist/
vendor
docker/env.local
.vscode/
.idea/
plugins/
src/composer.lock
/crowdin.properties
/crowdin.deb
node_modules/
crowdin.yml
node_modules/
.npmrc
.phpunit.result.cache
package-lock.json
.task/
/build/*/*.map
/.subversion/*
