version: "3.3"

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "33066:3306"
    environment:
      MYSQL_ROOT_PASSWORD: somewordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wordpress:
    depends_on:
      - db
    env_file:
      - docker/env
    build:
      context: ./docker
    volumes:
      - ./docker/custom-php-config.ini:/usr/local/etc/php/conf.d/zz-custom-php-config.ini
      - wp_data:/var/www/html
      - ./plugins:/usr/local/plugins
      - ./src:/var/www/html/wp-content/plugins/alma-gateway-for-woocommerce
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WP_DEBUG: "true"
      WP_DEBUG_LOG: "true"
      WP_DEBUG_DISPLAY: "false"

  nginx:
    image: nginx:1.21
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d
      - wp_data:/var/www/html
      - ./src:/var/www/html/wp-content/plugins/alma-gateway-for-woocommerce
    ports:
      - 8000:80
    links:
      - wordpress


volumes:
  db_data: {}
  wp_data: {}
