/**
 * Checkout page.
 *
 * @package Alma_Gateway_For_Woocommerce
 * @since v4.2.5
 **/

.alma-angle {
	display: inline-block;
	position: relative;
	width: 7px;
	height: 7px;
	background: transparent;
	text-indent: -9999px;
	border-top: 2px solid #333333;
	border-left: 2px solid #333333;
	transition: all 250ms ease-in-out;
	text-decoration: none;
	color: transparent;
	margin-bottom: 3px;
	margin-right: 3px;
}

.alma-angle-down {
	transform: rotate(-135deg);
}

.alma-angle-right {
	transform: rotate(135deg);
}

h5 {
	text-transform: capitalize;
}

.pay-now-text {
	background-color: #1A1A1A;
	color: #FFFFFF;
	margin: 2px 2px;
	border: 1px solid #1A1A1A;
	border-radius: 4px;
	padding: 2px 7px;
	font-size: 10px;
}

.logoContainer {
	background-color: #FFFFFF;
	padding: 2px 2px 4px 2px;
	width: fit-content;
	border: 1px solid #E1E4E6;
	border-radius: 7px;
}

#alma-inpage-alma_in_page_pay_now{
	display: none;
}


.alma-loader-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .25);
	z-index: 9999;
}

.loadingIndicator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
