.alma_fee_plan {
	padding-left: 6px;
	border-left: solid 2px lightgrey;
}
h3.alma_fee_plan {
	padding-top: 15px;
	padding-bottom: 15px;
}
div.alma_fee_plan,
.woocommerce table.form-table.alma_fee_plan
{
	margin-top: -15px;
}
.woocommerce table.form-table.alma_fee_plan tr:first-child th {
	padding-top: 35px;
}
@media(max-width: 782px) {
	.woocommerce table.form-table.alma_fee_plan th,
	.woocommerce table.form-table.alma_fee_plan td {
		padding-left: 6px;
		border-left: solid 1px lightgrey;
	}
	.woocommerce table.form-table.alma_fee_plan,
	.alma_fee_plan {
		margin-left: 36px;
	}
}
@media(min-width: 783px) {
	.woocommerce table.form-table.alma_fee_plan tr:first-child td {
		padding-top: 30px;
	}
	.woocommerce table.form-table.alma_fee_plan th {
		padding-left: 6px;
		border-left: solid 2px lightgrey;
	}
	.woocommerce table.form-table.alma_fee_plan,
	.alma_fee_plan {
		margin-left: 236px;
	}
}
div.ui-state-active.alma_option_enabled,
.alma_option_enabled {
	font-weight: bold;
}
div.ui-state-active.alma_option_disabled,
.alma_option_disabled {
	font-weight: lighter;
	font-style: italic;
}

.alma-share-checkout-container {
	/* Container */
	box-sizing: border-box;

	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 32px;
	gap: 64px;


	width: 1279px;
	height: 255px;

	/* blue-100 */

	background: #E9F4FF;
	/* grey-300 */

	border: 1px solid #E1E4E6;
	/* Shadow */

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
	border-radius: 4px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.alma-share-checkout-logo {
	/* Logo */


	width: 86px;
	height: 50px;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;

}



.alma-share-checkout-content {
	/* Content */


	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	width: 808px;
	height: 191px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.alma-share-checkout-text {
	/* Text + link */


	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 8px;

	width: 808px;
	height: 127px;


	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.alma-share-checkout-title {
	/* Increase your performance & get insights ! */


	width: 485px;
	height: 33px;

	/* H3 - Eina Bold24 */

	font-family: 'Eina04-Bold';
	font-size: 24px;
	line-height: 28px;

	/* blue-300 (main) */

	color: #00425D;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.alma-share-checkout-subtext {
	/* By accepting this option, enable Alma to analyse the usage of your payment methods, get more informations to perform and share this data with you. You can unsubscribe and erase your data at any moment. */


	width: 808px;
	height: 48px;

	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */


	/* blue-300 (main) */

	color: #00425D;


	/* Inside auto layout */

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
.alma-share-checkout-toggle-link {
	/* Link */


	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 0px 0px;
	gap: 4px;

	width: 269px;
	height: 30px;


	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
}

.alma-share-checkout-toggle{
	/* Link */


	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;

	width: 249px;
	height: 22px;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.alma-share-checkout-toggle-txt{
	/* Link */


	height: 22px;

	font-family: 'Eina04-Regular';
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;

	/* blue-300 (main) */

	color: #00425D;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}


.alma-share-checkout-toggle-view {
	height: 48px;

	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */


	color: #00425D;


	/* Inside auto layout */

	flex: none;
	order: 3;
	flex-grow: 0;
}

.alma-share-checkout-toggle-arrow{
	/* down */
	width: 16px;
	height: 16px;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}
.alma-share-checkout-buttons {
	/* CTAs */


	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	width: 181px;
	height: 40px;


	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.alma-share-checkout-decline-zone {
	/* Button */

	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;

	width: 81px;
	height: 40px;

	/* white */

	background: #FFFFFF;
	/* blue-300 (main) */

	border: 2px solid #00425D;
	border-radius: 4px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.alma-share-checkout-decline {
	/* text */
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 2px 0px 0px;
	gap: 10px;

	width: 49px;
	height: 14px;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.alma-share-checkout-decline-txt {
	/* Button */


	width: 49px;
	height: 12px;

	font-family: 'Eina04-Bold';
	font-size: 12px;
	line-height: 100%;
	/* identical to box height, or 12px */

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* blue-300 (main) */

	color: #00425D;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}


.alma-share-checkout-accept{
	/* Button */


	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;

	width: 84px;
	height: 40px;

	/* blue-300 (main) */

	background: #00425D;
	border-radius: 4px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.alma-share-checkout-accept{
	/* Button */


	width: 52px;
	height: 12px;

	font-family: 'Eina04-Bold';
	font-size: 12px;
	line-height: 100%;
	/* identical to box height, or 12px */

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* white */

	color: #FFFFFF;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.alma-share-checkout-accept-txt{
	/* Button */


	width: 52px;
	height: 12px;

	font-family: 'Eina04-Bold';
	font-size: 12px;
	line-height: 100%;
	/* identical to box height, or 12px */

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* white */

	color: #FFFFFF;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
