/**
 * Checkout page.
 *
 * @package Alma_Gateway_For_Woocommerce
 * @since v4.3.0
 */

 .pay-now-text {
    background-color: #1A1A1A;
    color: #FFFFFF;
    margin: 6px 0 6px 10px;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    padding: 4px 12px;
 }

 .logoContainer {
    background-color: #FFFFFF;
    padding: 10px 6px;
    width: fit-content;
    border: 1px solid #E1E4E6;
    border-radius: 7px;
 }